*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    

}
html,body{
    width: 100%;
    height:100%;

}
main{
flex: auto;
color: brown;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    padding-top: 10px;
   
   
}
header,footer{
    background-color: brown;
    color: wheat;
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: end;
    
}
nav a{
    color: brown;
    text-decoration: none;

}
nav li, .up{
    border: wheat 2px solid;
    padding: 5px;
    border-radius: 3px;
    width: 45px;
    

}
header h5{
   
    font-size: 20px;
}
nav li:hover{
    background-color: rgb(243, 230, 206);
    
    
    }
nav li a:hover{
  color: red;
}
.logo{
    color: wheat;
}
.part_one:hover li a{
    filter: brightness(.4);
}
.part_one li a:hover{
    filter: brightness(1);
}
.part_one {
    background-color: wheat;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
    .homework_list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .part_one li{
        background-color: brown;
        padding: 5px;
        border-radius: 5px;
        width: 75px;


    }
    .part_one a{
        color: wheat;
    }
    .part_two {
       
        background-color: wheat;
        border-radius: 10px;
        display: flex;
    flex-direction: column;
    padding: 10px;
    }
    .part_two li{
        background-color: brown;
        padding: 5px;
        border-radius: 5px;
        width: 75px;
        
    a{ 
        color: wheat;
        } 
    }
    .part_two:hover li a{
        filter: brightness(.4);
    }
    .part_two li a:hover{
        filter: brightness(1);
    }
    

   
    .part_four ,.part_three{
       
        background-color: wheat;
        border-radius: 10px;
        display: flex;
    flex-direction: column;
    padding: 10px;
    }
