div{
    
    border-top: 5px dotted grey;
    padding: 10px 10px 10px 10px;
    width: 170px;


}
div a{
    color: black;
  background-color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;

}
a:hover{
    color: #fff;
    background-color: rgb(179, 73, 73);
    padding:  5px 5px 5px 5px;
    
}