.build-project-block {
    width: 550px;
    padding: 2px 30px;
    margin: 20px;
    box-sizing: border-box;
    border-left: 2px solid #CBCBCB;
  }
  .server-commands {
    padding: 2px;
    background-color: #F6F5F3;
    border: 1px solid #CBCBCB; 
  }
  .scrollable {
    white-space: nowrap;
    overflow-x: scroll; 
  }
  .bold-text {
    font-weight: bolder;
  }
  .blue-text {
    color: #8AD8F3;
  }
  .href-text {
    font-style: italic;
    color: #BBBAA7;
  }
  