.box{
    background-color: skyblue;
    border: 1px rgb(37, 37, 105) solid;
    width: fit-content;
    height: fit-content;
    
}
.block{
  
    p{
        color: green;
    }
    h3{
        color: rgb(17, 17, 201);
    }
   

}
p{
    margin-top: -10px;
}
input{
    display: none;
}
.box{
    display: block;
    padding:5px;
    
}
#bttn:checked~.box{
   
 display: none;
    
}

label{
position: absolute;
margin-left: 620px;

}
h3::before{
  content: "♥";  
  margin-right: 20px;


 
}