body {
    background: skyblue; 
  }
  
  .block {
    background: url(https://img-fotki.yandex.ru/get/67890/136164467.17/0_12bc81_21263ac1_orig.png);
    width: 500px;
    height: 300px;
   
    margin: 10% auto;
  }